<div class="container py-3">
    <h2 class="py-3">welcome to {{title}}</h2>
    <p class="py-4">You are connected as {{currentUser.username}}.</p>
    <form method="POST" action="/logout">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>